body, * {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(199, 198, 193);
}

.header {
    background-color: rgb(238, 119, 220);
    border: 1px solid #fbf5f5;
    height: 20px;
    margin: 5px 5px;
    
}
.main {
    margin: 5px 5px;
    height: 400px;
}
.main .content {
    display: flex;
    justify-content: space-between;
}
.left {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 55%;
    justify-content:space-between;

}
.left .left_green {
    background-color: aquamarine;
    height: 195px;
    border: 2px solid #fbf5f5;
}
.left .left_three_color {
    display: flex;
    justify-content: space-between;
    height: 195px;
   
}
.red_orange {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 63%;
}
.red_orange .red{
    background-color: rgb(224, 15, 15);
    height: 90px;
    border: 2px solid #fbf5f5;
}
.red_orange .orange {
    background-color: rgb(224, 138, 9);
    height: 100px;
    border: 2px solid #fbf5f5;

}
.left_three_color .pink {
    background-color: rgb(229, 48, 232);
    height: 195px;
    width: 35%;
    border: 2px solid #fbf5f5;
}
.right {
    width: 44%;

}

.tim_xanh {
    display: flex;
    justify-content: space-between;
}

.tim_xanh .tim {
    background-color: rgb(72, 17, 123);
    border: 2px solid #fbf5f5;
    width: 80%;
    height: 45px;
}

.tim_xanh .xanh {
    border: 2px solid #fbf5f5;
    background-color: rgb(10, 83, 58);
    width: 15%;
    height: 45px;

}
.right .yellow {
    background-color: yellow;
    border: 2px solid #fbf5f5;
    height: 35px;
    width: 98.5%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.right .three_colum {
    display: flex;
    justify-content: space-between;

}

.three_colum .duong1 {
    background-color: rgb(10, 83, 58);
    height: 250px;
    width: 30%;
    border: 2px solid #fbf5f5;
}

.three_colum .colum_red {
    background-color: rgb(220, 11, 11);
    height: 250px;
    width: 30%;
    border: 2px solid #fbf5f5;
}

.three_colum .duong2 {
    background-color: rgb(10, 83, 58);
    height: 250px;
    width: 30%;
    border: 2px solid #fbf5f5;
}
.mau_dat {
    border: 2px solid #fbf5f5;
    height: 40px;
    margin-top: 5px;
    background-color: rgb(76, 59, 37);
}
.footer {
    background-color: black;
    border: 2px solid #fbf5f5;
    margin-right: 5px;
    margin-left: 5px;
    height: 20px;
}